* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gloria Hallelujah", cursive;
  color: #ff004c;
  text-decoration: none;
}

body {
  background-color: #000;
}

.img__filter__body {
  position: fixed;
  height: 100%;
  right: 0;
  z-index: -1;
}

header {
  height: 100px;
}

.container__header {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.container__header::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: -2px;
  border-bottom: 4px solid transparent;
  animation: gradientBorder 7s infinite;
}

@keyframes gradientBorder {
  0% {
    border-image: linear-gradient(to right, #000, #1c3a4c, #ab0b03, #c0083a) 1;
  }

  25% {
    border-image: linear-gradient(to right, #c0083a, #000, #1c3a4c, #ab0b03) 1;
  }

  50% {
    border-image: linear-gradient(to right, #ab0b03, #c0083a, #000, #1c3a4c) 1;
  }

  75% {
    border-image: linear-gradient(to right, #1c3a4c, #ab0b03, #c0083a, #000) 1;
  }

  100% {
    border-image: linear-gradient(to right, #000, #1c3a4c, #ab0b03, #c0083a) 1;
  }
}

h1 {
  position: relative;
  font-family: "Gloria Hallelujah", cursive;
  color: #ff004c;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em rgb(231, 43, 18);
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear forwards;
}

.class_card {
  display: flex;
  justify-content: center;
}

.material-symbols-outlined {
  color: #ff004c;
  border: 1px solid #ff004c;
  padding: 3px;
  border-radius: 10px;
  transform: scale(1.4);
}

.quantity {
  font-size: 25px;
  color: #ff004c;
}

main {
  margin-block: 150px;
}

.container__body {
  display: flex;
  justify-content: space-around;
}

.list__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

@media (max-width: 1280px) {
  .list__products {
    grid-template-columns: 2fr;
  }
}

@media (max-width: 480px) {
  .list__products {
    grid-template-columns: 1fr;
  }
}

.product {
  display: flex;
}

.filter__img {
  height: 360px;
  width: 260px;
  object-fit: cover;
  border-radius: 30px;
  border: 3px solid #1c3a4c;
}

.detail__prodict {
  position: relative;
  padding-top: 10px;
  padding-inline: 20px;
  max-height: 390px;
  max-width: 290px;
}

.title__product {
  font-size: 27px;
  color: #ff004c;
  border-bottom: 2px solid;
  text-align: center;
}

.short_description {
  text-align: center;
  font-size: 20px;
  color: #ff004c;
  border-bottom: 2px solid;
}

.price {
  font-size: 27px;
  color: #ff004c;
  text-align: center;
}

.price::after {
  content: "$";
}

.prodoctForm {
  bottom: 0;
  position: absolute;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity__product {
  text-align: center;
  width: 70px;
  background-color: transparent;
  border: 3px solid #ff004c;
  color: #ff004c;
  font-size: 25px;
  border-radius: 10px;
}

.btn {
  background-color: transparent;
  border: 3px solid #ff004c;
  color: #ff004c;
  font-size: 17px;
  border-radius: 10px;
  padding: 5px;
}

.btn:hover {
  background-color: #ff004c;
  color: #1c3a4c;
}

label {
  color: #ff004c;
  padding-inline: 15px;
}

.pagination {
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  font-size: 30px;
  margin-bottom: 30px;
}

.now__page {
  padding: 3px;
  padding-inline: 17px;
  border-radius: 100%;
  background-color: aliceblue;
}

.other__page {
  padding-inline: 13px;
  border: 3px solid #ff004c;
  border-radius: 100%;
}

.other__page:hover {
  background-color: #ff004c;
  color: #000;
}