* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gloria Hallelujah", cursive;
  text-decoration: none;
  color: #ff004c;

}

body {
  background-color: #000;
}

.img__filter__body {
  position: fixed;
  height: 100%;
  right: 0;
  z-index: -1;
}

header {
  height: 100px;
}

.container__header {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

}

.container__header::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: -2px;
  border-bottom: 4px solid transparent;
  animation: gradientBorder 7s infinite;
}

@keyframes gradientBorder {
  0% {
    border-image: linear-gradient(to right, #000, #1c3a4c, #ab0b03, #c0083a) 1;
  }
  25% {
    border-image: linear-gradient(to right, #c0083a, #000, #1c3a4c, #ab0b03) 1;
  }

  50% {
    border-image: linear-gradient(to right, #ab0b03, #c0083a, #000, #1c3a4c) 1;
  }

  75% {
    border-image: linear-gradient(to right, #1c3a4c, #ab0b03, #c0083a, #000) 1;
  }

  100% {
    border-image: linear-gradient(to right, #000, #1c3a4c, #ab0b03, #c0083a) 1;
  }
}

h1 {
  position: relative;
  font-family: "Gloria Hallelujah", cursive;
  color: #ff004c;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em rgb(231, 43, 18);
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear forwards;
}

.class_card {

  display: flex;
  justify-content: center;
}

.material-symbols-outlined {
  color: #ff004c;
  border: 1px solid #ff004c;
  padding: 3px;
  border-radius: 10px;
  transform: scale(1.4);
}

.quantity {
  font-size: 25px;
  color: #ff004c;
}

main {
  max-width: 960px;
  margin: 50px auto;
}

.container__main {
  color: #ff004c;
}

form {
  border: 1px solid #ff004c;
  padding: 50px;
  border-radius: 30px;
}

.content:last-child {
  padding-top: 90px;
}

.subsection {
  font-size: 30px;
  border-bottom: 1px solid #ab0b03;
  color: #1c3a4c;
}

.nav__form {
  padding-block: 10px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 25px;
}

.input_ {
  background-color: transparent;
  border: none;
  border: 1px solid #ff004c;
  padding: 10px;
  color: #ff004c;
  font-size: 20px;
  border-radius: 10px;
}

.address__form {
  display: flex;
}

.castom_form {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.castom_input {
  background-color: transparent;
  border: none;
  border: 1px solid #ff004c;
  padding: 10px;
  color: #ff004c;
  font-size: 20px;
  border-radius: 10px;
  width: 100px;
}

.container__info__products {
  padding-inline: 20px;
}

.title__container {
  font-size: 40px;
}

.info__products {
  text-align: center;
  border: 1px solid #ff004c;
  padding: 20px;
  border-radius: 30px;
  word-spacing: 10px;
}

.total__price {
  border-top: 1px solid #ff004c;
}

.btn {
  margin-top: 15px;
  width: 180px;
  padding: 5px;
  border: 2px solid #ff004c;
  background-color: transparent;
  color: #c0083a;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ff004c;
  color: #1c3a4c;
}

.non_product {
  margin-top: 500px;
  text-align: center;
  color: #ff004c;
  font-size: 35px;
  text-decoration: none;
}

a {
  color: #ff004c;
}